.hero {
  // background: rgba(255, 255, 255, 0.056);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(4px);
  
  background-image: url(../../assets/images/BPBackgroundHero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  background-position-y: -20px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero__container img {
  display: inline;
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.slideshow {
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  position: absolute;
  background-image: url(../../assets/images/cheeky-dog.jpeg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
}

.logo img {
  
}

.hero__logo {
  
}

// About Section
.about {
  height: 80vh;
  width: 100vw;
  background-color: $light-pink;
}

.philosophy {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.philosophy__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  max-width: 1000px;
  padding: 2rem;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.2rem;

    border-radius: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

   
    .card__title {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .card__description {
      font-size: 1rem;
      letter-spacing: 1rem;
    }
  }
}

.my-work {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient($light-blue, $light-pink);
  flex-direction: column;
  padding: 2rem;
}

.services {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient($white, $light-blue);
}

.services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  padding: 5rem;
  padding-top: 0rem;
}

.service__content .heading-2 {
  color: black;
}

.contact {
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient($light-pink, $white);
  background-position: center;
}
