// Colors
// Primary Brand Colors
$light-blue: #cae6f5;
$light-purple: #d4b0d4;
$light-pink: #ebb9d7;
$lighter-pink: #f1dfee;

// Secondary Brand Colors
$orange: #df9464;
$brown: #2d1b10;
$white: #fff;
$black: #000;

// Font
$font-family: "Baloo Bhai 2", sans-serif;
$weight-medium: 500;
$weight-extraBold: 800;
