.card {
  @include glassmorphism-card();
  max-width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__image img {
    max-width: 200px;
  }
}

.card-2 {
  background: $light-pink;
}

.card-3 {
  background: $light-purple;
}

// Service Cards
.service {
  @include glassmorphism-service-card();
  max-width: 400px;
  height: 200px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__image img {
    max-width: 80px;
  }
}
