.card {
  width: 300px;
  padding: 2rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  border: 2px solid $light-blue;

  &__image {
    max-width: 200px;
    padding-bottom: 2rem;
  }

  &__image img {
    max-width: 100px;
    border-radius: 50%;
    background-color: $light-blue;
  }

  &__content {
    .heading-2 {
      padding-bottom: 0.5rem;
    }
  }
}

.card-2 {
  border: 2px solid $light-pink;

  .card__image img {
    background-color: $light-pink;
  }
}

.card-3 {
  border: 2px solid $light-purple;

  .card__image img {
    background-color: $light-purple;
  }
}

// Service Cards
.service {
  @include glassmorphism-service-card();
  max-width: 400px;
  height: 200px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__image img {
    max-width: 80px;
  }
}
