.navbar {
  width: 97.4%;
  position: fixed;
  height: auto;
  background: transparent;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-weight: $weight-extraBold;
  font-size: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.nav {
  // @include glassmorphism-navbar;
  max-width: 50%;
  background: transparent;
  text-transform: uppercase;
  font-weight: $weight-medium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-right: 4rem;
  margin-left: 4rem;

  &:first-child {
    padding-left: 2rem;
  }

  & > a:hover {
    color: $light-purple;
    transition: 0.5s ease-in-out;
  }

  & > * {
    padding-right: 2rem;
    white-space: nowrap;
  }
  & .btn {
    @include glassmorphism-navbar__btn;
    cursor: pointer;
    font-weight: 500;
    color: $white;
  }

  & .btn:hover {
    background: $light-blue;
    transition: 0.5s ease-in-out;
    color: $black;
  }
}

.pa-fixed-header {
  @include glassmorphism-navbar;
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-in-out;
}

.pa-fixed-logo {
  color: var($light-pink) !important;
  transition: color 200ms ease-in-out;
  z-index: 1;
}

// /* Position and sizing of burger button */
// .bm-burger-button {
//   position: fixed;
//   width: 36px;
//   height: 30px;
//   left: 36px;
//   top: 36px;
// }

// /* Color/shape of burger icon bars */
// .bm-burger-bars {
//   background: #373a47;
// }

// /* Color/shape of burger icon bars on hover*/
// .bm-burger-bars-hover {
//   background: #a90000;
// }

// /* Position and sizing of clickable cross button */
// .bm-cross-button {
//   height: 24px;
//   width: 24px;
// }

// /* Color/shape of close button cross */
// .bm-cross {
//   background: #bdc3c7;
// }

// /*
// Sidebar wrapper styles
// Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
// */
// .bm-menu-wrap {
//   position: fixed;
//   height: 100%;
// }

// /* General sidebar styles */
// .bm-menu {
//   background: #373a47;
//   padding: 2.5em 1.5em 0;
//   font-size: 1.15em;
// }

// /* Morph shape necessary with bubble or elastic */
// .bm-morph-shape {
//   fill: #373a47;
// }

// /* Wrapper for item list */
// .bm-item-list {
//   color: #b8b7ad;
//   padding: 0.8em;
// }

// /* Individual item */
// .bm-item {
//   display: inline-block;
// }

// /* Styling of overlay */
// .bm-overlay {
//   background: rgba(0, 0, 0, 0.3);
// }
